<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CRM Tecnimotors</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mayoristas
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" [routerLink]="['mayoristas/list']">Listar Mayoristas</a></li>
                            <li><a class="dropdown-item" [routerLink]="['mayoristas/create']">Registrar Mayorista</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes Finales
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" [routerLink]="['clientes/list']">Listar Clientes</a></li>
                            <li><a class="dropdown-item" [routerLink]="['clientes/create']">Registrar Cliente</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>